<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<div th:if="${not #strings.isEmpty(errorMessage)}" style="color:red; font-weight: bold; margin: 30px 0px;">
    <span th:text="${errorMessage}"></span>
</div>

<form th:action="@{/login}" method="POST">
    <table>
        <tr>
            <td>UserName:</td>
            <td><input type="text" name="username" th:value="${username}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input name="submit" type="submit" value="Submit" />
            </td>
        </tr>
    </table>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>

</body>
</html>
